/* Base styles */
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fffef4;
    background-color: #2a2438; /* Dark purple background */
  }
  
  a {
    color: #d6faff;
    text-decoration:underline;
  }

  h1 {
    color: #ebe9d6; /* Light yellow accent */
    text-align: center;
    font-size: 1.8rem;
    }

  h2 {
    color: #ebe9d6; 
    font-size: 1.5rem;
  }

  h3 {
    color: #ebe9d6; 
    font-style: italic;
    font-size: 1.2rem;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  /* Sidebar */
  .sidebar {
    width: 120px;
    background-color: #352f44; /* Darker purple for sidebar */
    color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed; /* Ensures the sidebar stays fixed */
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh; /* Full height */
    overflow-y: auto; /* Allows scrolling if menu is long */
    transition: transform 0.3s ease;
  }
  
  .sidebar .logo {
    font-size: 24px;
    color: #ebe9d6; /* Light yellow accent */
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  .sidebar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar .menu li {
    margin-bottom: 15px;
  }
  
  .sidebar .menu li a {
    text-decoration: none;
    color: #ebe9d6;
    transition: color 0.3s;
  }
  
  .sidebar .menu li a:hover {
    color: #eee9c1;
  }
  
  /* Main Content */
  .main {
    margin-left: 160px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
  .header {
    background-color: #352f44;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer {
    background-color: #352f44;
    padding: 10px 20px;
    margin-top: auto;
    width: auto;
    color: white;
    text-align: left;
    font-size: small;
  }
    
  .menu-toggle {
    font-size: 24px;
    color: #ebe9d6;
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Hidden on desktop */
    position: fixed; /* Keeps it visible when scrolling */
    top: 5px; /* Adjust to position at the top */
    left: 5px; /* Align to the left */
    z-index: 1000; /* Ensures it's above other elements */
    padding: 10px;
    background-color: #352f44;
    border-radius: 5px;
  }
  
  .content {
    padding: 5px;
    text-align: left;
    max-width: 800px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    h1 {
      margin: 15px auto;
    }

    h2 {
      text-align: center;
    }

    h3 {
      text-align: center;
    }
    
    .content {
      padding: 5px 10px;
    }

    .sidebar {
      transform: translateX(-250px);
    }
  
    .sidebar.visible {
      transform: translateX(0);
    }

    .header {
      padding: 0 px;
      padding-left: 80px;
      margin-left: -50px;
    }

    .footer {
      padding-left: 10px;
      padding-right: 40px;
    }

    .main {
      margin-left: 0;
    }
  
    .menu-toggle {
      display: block;
    }

    .logo {
      margin-top: 30px;
    }

    
  }
  