{% extends "base.html" %}
{% block content %}
    {% block content_title %}
        <h2>Bio</h2>
    {% endblock %}
    <p>Hey there! I'm a Researcher in medical imaging. I have been employed at <a href="https://www.3ds.com/">Dassault
            Syst&egrave;mes</a>,
        <a href="https://www.philips.fr/">Philips</a>, <a href="https://www.upf.edu/">UPF</a> and <a
        href="https://www.uclouvain.be/">UCLouvain</a>.
    </p>
    <p>Hobbies: music (saxophone and bass player), <a href="https://lesenrolleres.org/">rollerblading</a>, biking.
    </p>
{% endblock content %}
